.sidebar, .navbar, body,  .nav-item .dropdown-wrapper .nav-dropdown, a.sidebar-link, #app .navbar .links {
  background-color: #333333;
}

a, .page-edit .edit-link a
  text-decoration underline
  color $textColor

a:hover, .nav-links a:hover, .nav-links a.router-link-active, .page-edit .edit-link a:hover, .nav-links a.router-link-active:hover, .dropdown-wrapper .nav-dropdown .dropdown-item h4:hover, .dropdown-title:hover
  color $accentColor !important

.site-name:hover
  color $accentColor !important
  text-decoration underline

a.home-link
  text-decoration: none

tr:nth-child(2n)
  background-color #ffffff0a